<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Home</title>
    
</head>
<body>
    <form method="POST" class="post-form" action='/' >  
        {% csrf_token %} 
        <div class="container">  
            <br>  
                <div class="form-group row">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                <h3>Enter Details</h3>  
                </div>  
              </div>  
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Student Name:</label>  
                <div class="col-sm-4">  
                  {{ form.name }}  
                </div>  
              </div>  
              <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Standard:</label>  
                <div class="col-sm-4">  
                  {{  form.standard }}  
                </div>  
              </div>  
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Contact:</label>  
                <div class="col-sm-4">  
                  {{ form.contact }}  
                </div>  
              </div>  
                <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Roll Number:</label>  
                <div class="col-sm-4">  
                  {{ form.rollno }}  
                </div>  
              </div>  
                <div class="form-group row">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                <button type="submit" class="btn btn-primary">Submit</button>  
                </div>  
              </div>  
                </div>  
            </form>  
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>