<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>SHOW</title>
  
</head>
<body>
   
        <table class="table table-striped table-bordered table-sm">  
            <thead class="thead-dark">  
            <tr>  
                <th>Student NAme</th>  
                <th>Student RollNo</th>  
                <th>Student Contact </th>  
                <th>Student Standard</th>  
                <th>Actions</th>  
            </tr>  
            </thead>  
            <tbody>  
               
        {% for std in students %}  
            <tr>  
                <td>{{std.name }}</td>  
                <td>{{ std.rollno }}</td>  
                <td>{{ std.contact }}</td>  
                <td>{{ std.standard }}</td>  
                <td>  
                    <a href="/edit/{{ std.id }}"><span class="glyphicon glyphicon-pencil" >{{std.id}}Edit</span></a>  
                    <a href="/delete/{{ std.id }}">Delete</a>  
                </td>  
            </tr>  
        {% endfor %}  
            </tbody>  
        </table>  
        <br>  
        <br>  
        <center><a href="/" class="btn btn-primary">Add New Record</a></center>  
      
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>